:root {
  --green:#025036;
  /* --green:#1d5c46; */
  --green2:#0ea499;
 
  --red:#fe0003;
  --yellow:#fef917;
  --blue:#0e2293;
}


@font-face {
    font-family: 'rubik';
    src: url(./Assets/Fonts/Rubik-VariableFont_wght.ttf);
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

html.active{
    overflow-y: hidden !important;
}

body{
    width: 100%;
    height: 110vh;
    font-size: 19px;
   
}

.preventOverflow-X {
    overflow-x: hidden;
}


.header-hero {
    width: 100%;
    background-color: var(--green);
    
}

.header.hide{
background-color: transparent!important;

}
header.hide {
background-color: transparent !important;
}
.logo.hide{
   
opacity: 0;
}

.header.active{
    background-color: var(--green);

}
.header{
   width: 100% ;
    background-color: var(--green) !important;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 99;
    
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 90%;
    padding-top: 5px !important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}



header .logo  img {
    height: 80px;
    z-index: 0 !important;
}

header nav ul {
    display: flex;
}
header nav ul li {
    margin-left: 50px;
    
}
header nav ul #link1::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    border-radius: 10px;
    opacity: 1;
}
header nav ul li::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: #fff;
    display: block;
    border-radius: 10px;
    transition: 0.25s ease;
    opacity: 0;
}
header nav ul li:hover::after{
    transition: 0.25s ease;
    width: 100%;
    opacity: 1;
}   
header nav ul li a {
    font-family: "rubik";
    text-transform: capitalize;
    color: #fff;
    transition: 0.25s ease;
}
header nav ul li a:hover{
    transition: 0.25s ease;
    color: var(--red);
}
header nav ul li .link1{
    color: var(--red);
}

header .menu {
   
    width: 35px;
    height: 35px;
    display: none;
   
}
header .menu .bar{
    width: 50%;
    height:2px;
    background-color: var(--yellow);
    margin: 6px 0;
    margin-left: 18px;
    transition: 0.4s ease;
    display: block;

}
 header .menu::before, header .menu::after {
    content: "";
    width: 100%;
    height:2px;
    background-color: var(--yellow);
    margin: 4px 0;
    display: block;
    transition: 0.4s ease;
}
header .menu.active::before{
    transform: rotate(45deg) translate(5px , 6px);
    background-color: var(--blue);
    transition: 0.4s ease;
}
header .menu.active::after{
    transform: rotate(-45deg) translate(5px , -6px);
    background-color: var(--blue);
    transition: 0.4s ease;
}

header .menu.active .bar{
    opacity: 0;
    transition: 0.4s ease;
}

.navBlend{
    display: none;
}
.nav2{
    display: none;
}


.hero{
    width: 100%;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top:200px;
 
    
}


.hero-left{
 padding-top: 80px;
    
}
.hero-left h1, .hero-left p, .hero-left button{
    margin-bottom: 50px;
}
.hero-left h1{
    color: var(--yellow);
    font-family: 'rubik';
    width: 100%;
    max-width: 800px;
    text-transform: uppercase;
}
.hero-left p{
    color: #fff;
    font-family: 'rubik';
    width: 100%;
    max-width: 600px;
    text-align: justify;
}

.hero-left  button{
    font-family:'rubik' ;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #fff;
    /* font-size: 16px; */
    
}
.hero-left button:hover{
    transition: 0.2s ease;
    background-color: var(--green2);
    color: #fff;
    scale: 1.3;
    transform: translateX(20px);
}
.hero-right{
    width: 100%;
    max-width: 800px;
    height: 600px;
    margin-left: 30px;

}
.hero-right img{
    width: 100%;
    height:100%;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 0;
}

.main {
    width: 100%;
   
}
main{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
   
}
.section-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 100px;
 
  

}

.section-1 .sect1-left{
    width: 100%;
    max-width: 800px;
    height: 500px;
   

}
.section-1 .sect1-left img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: opacity 1s ease;
         
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.section-1 .sect1-right{

    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: "rubik";
    margin-left: 30px;
    width: 100%;
    max-width: 800px;
    height: 500px;
   
}
.sect1-right h3,.sect1-right h1, .sect1-right p{
    margin-bottom: 30px;
}
.section-1 h3{
   text-transform: capitalize;
    color: var(--red);
}
.section-1 h1{
    width: 100%;
    max-width: 800px;
  
  
}
.section-1 p{
    width: 100%;
    max-width: 600px;
}

.section-1 button{
    font-family:'rubik' ;
    padding: 12px 20px;
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.section-1 button:hover{
    transition: 0.2s ease;
    background-color: var(--green2);
   
}

.main2{
    width: 100%;
    background-color: var(--green2);
}
.section-2{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 350px;
    font-family: "rubik";
     
}
.section-2 h3{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.section-2 h1{
    color:var(--yellow);
    margin-bottom: 50px;
    text-align: center;
    
}

.section-2 .box-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.section-2 .box-service .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;


  
}
.section-2 .box-service .boxes .box {
    background-color: #fff;
    margin: 0 20px;
    padding: 30px;
    

}

.section-2 .box-service .boxes .img {
   width: 400px;
   height: 300px;
}
.section-2 .box-service .boxes img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.section-2 .box-service .boxes p{
    line-height: 30px;
    width: 100%;
    max-width: 400px;
    
}

.boxes .img, .boxes h2{
    margin-bottom: 15px ;
}
.section-2 .box-service  button {
    padding: 12px 20px;
    transition: 0.25s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    scale: 1.3;
}
.section-2 button:hover{
    transition: 0.25s ease;
    background-color: var(--yellow);
    border: none;
    color: black;
 
   
}

.section-3{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;

   
}

.section-3 .sect3-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 500px;
    font-family: 'rubik';
    color: #fff;
    background-color: var(--green);
    padding:0 60px;
}

.section-3 .sect3-left h1, .sect3-left p {
    margin-bottom: 30px;
    text-align: justify;
}
.section-3 .sect3-left h1{
    text-align: start;
}

.sect3-left button {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 12px ;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: 0.25s ease;
    
    
}
.sect3-left button:hover{
    transition: 0.25s ease;
    background-color: var(--green);
    color: #fff;
    border: 1px solid #fff;
}

.section-3 .sect3-right{
    width: 100%;
    max-width: 600px;
    height: 500px;
}
.section-3 .sect3-right img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.main3{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'rubik';
   
}
.main3 h3 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--red);
}
.main3 h1 {
    text-align: center;
    margin-bottom: 50px;
   

}

.section-4{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    

   
   
}

.section-4 .sect4-left{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 500px;
    color: #fff;
    background-color: var(--green2);
    /* padding:  0 60px;
    padding-bottom: 50px;
    padding-top: 30px; */
    padding: 60px;
   
}

.section-4 .sect4-left h1, .sect4-left p {
    margin-bottom: 30px;
    text-align: justify;
    width: 100%;
    

}
.section-4 .sect4-left h1{
   text-align: start;
   
}

.sect4-left button {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 12px ;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: 0.25s ease;
    
    
}
.sect4-left button:hover{
    transition: 0.25s ease;
    background-color: var(--green2);
    color: #fff;
    border: 1px solid #fff;
}

.section-4 .sect4-right{
    width: 100%;
    max-width: 600px;
    height: 400px;
}
.section-4 .sect4-right img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}



.section-5{
    width: 100%;
   
    margin: 0 auto;
   padding-top: 100px;
  font-family: "rubik";

     
}

.section-5 h1{
    color:var(--yellow);
    margin-bottom: 50px;
    text-align: center;
    
}

.section-5 .box-assurance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    

 
}
.section-5 .box-assurance .boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
   
   
}

.section-5 .box-assurance .boxes .box {
    background-color: #fff;
    margin: 15px;
    padding: 30px;
   width: 100%;
   max-width: fit-content;
    

}

.section-5 .box-assurance .boxes .img {
   width: 300px;
   height: 250px;
}
.section-5 .box-assurance .boxes img {
    width: 100%;
    height: 250px;
    object-fit: contain;


}
.section-5 .box-assurance .boxes::after{
    content: "";
    width: 100%;
    max-width: 778px;
   height: 300px;
 
  
}

footer{
    width: 100%;
    font-size: 16px;
    background-color: var(--green);
    color: white;
    font-family: 'rubik';
    padding-top: 10px;
}
.footer {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
footer .top img{
    height: 80px;
}

footer .boxes-1{
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .boxes-2{
    width: 100%;
    max-width: 32%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .middle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
footer .middle h4{
    user-select: none;
    margin-bottom: 10px;
    width: 100%;
    max-width: fit-content;
}
footer .middle h4::after{
    content: "";
    width: 100%;
    max-width: 50%;
    margin-top: 5px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--red);
    display: block;
    transition: 0.25s ease;

}

footer .middle #promo::after{
    opacity: 0;

}
footer .middle h4:hover::after{
    max-width: 100%;
    transition: 0.25s ease;
}
footer .box-1 a{
    display: block;
    color: #fff;
    width: fit-content;
    
    
}
footer .box-1{
    margin-bottom: 30px;
}
footer .box-3{
    margin-bottom: 30px;
}
footer .box-1 a{
    text-transform: capitalize;
}
footer .box-1 a:hover{
    color: var(--red);
}

footer .box-2 input{
    padding: 15px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    
}
footer .box-2 input::placeholder{
    color: #fff;
}

footer .box-2 input:last-of-type{
    width: 100%;
    max-width:150px;
    margin-left: 20px;
    background-color: var(--green2);
    border-color: var(--green2);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    
}
footer .box-2 input:hover:last-of-type{
    transition: 0.2s ease;
    background-color: var(--yellow);
    color: black;
}

footer .box-3 .icone  .fa-brands{
    scale: 1.5;
    margin-right:20px;
    margin-left: 5px;
    color: #fff;
}


footer fieldset{
    border-top: 1px solid #ffffffa5;
    margin-top: 50px;
    padding: 25px 0;
    text-align: center;
}

footer #copyright{
    font-size: 13px;
}

/* ---------------------------RESPONSIVE ACCUEIL----------------------------------------------- */

/* 2xl */
@media (max-width:1536px) {
    .hero-right{
        margin-left: 50px;
    }
    footer .footer{
        max-width: 100%;
        padding: 0 30px;
    }
}
@media (max-width:1472px){
    .section-2{
        max-width: 100%;
    }
    .section-5{
        max-width: 100%;
    }

    .section-2 .box-service .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    
    }
    .section-5 .box-assurance .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    
    }
   

    .section-2 .box-service .boxes .box {
        margin-top: 40px;
    }
    .section-5 .box-assurance .boxes .box {
        margin-top: 40px;
    }
    
}


/* xl */
@media (max-width:1312px) {
    .section-3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:1280px) {}



/* lg */
@media (max-width:1024px) {
    header nav{
        display: none;
    }
    .hero {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hero-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        
    }
    .hero-left h1{
        text-align: center;
        
    }
    .hero-left button:hover {
        scale: 1.3;
        transform: translateX(0);
    }    
    .hero-right{
        max-width: 100%;
        height: auto;
        margin: 0;
        max-height: auto !important;
       
    }
    .hero-right img{
        width: 100%;
        height: auto;
        
    }
    
    main{
        max-width: 90%;
        
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
       
    }
    .section-1 .sect1-right{
        margin: 0;
        display: flex;
        justify-content: center;
        
    }
    .section-1 .sect1-left{
        height: auto;
    }
    
    .section-1 .sect1-left img {
        height: auto;
    }

   
    
    header .menu {
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .nav2.active{
        opacity: 1;
        transform: translateX(0px);
        transition: 0.3s cubic-bezier(.19,1,.22,1);
        z-index: 98;
    }
    .nav2{
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 50%;
        right: 0;
        top: 0;
        padding-top: 120px;
        background-color: #ffffffdc;
        backdrop-filter: blur(15px);  
        display: block;
        overflow-y: scroll;
        transform: translateX(500px);
        transition: 0.3s cubic-bezier(.19,1,.22,1);
        opacity: 0;
        z-index: -1;
    }
    .nav2::-webkit-scrollbar{
        width: 0;
    }

    .navBlend.active{
        opacity: 1;
        backdrop-filter: blur(15px);
        transition: 0.3s cubic-bezier(.19,1,.22,1);
        z-index: 97;
    }
    .navBlend{
        display: block;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(15px);
        transition: 0.3s cubic-bezier(.19,1,.22,1);
        opacity: 0;
        z-index: -1;
        
    }
    
    
    .nav2 a {
        display: block;
        font-family: 'rubik';
        color: var(--blue);
        margin-bottom: 10px !important;
        padding: 20px 0;
        width: 100%;
        max-width: 50%;
        border-bottom: 1px solid var(--red);
        text-align: center;
        font-size: 17px;
        margin: 0 auto;
        text-transform: capitalize;
        
        
    }
    .nav2 a:hover{
        color: white;
        background-color: rgba(0, 0, 0, 0.392);
        border-bottom: none;

        
    }
}

/* md */
@media (max-width:999px) {
    .section-2 .box-service .boxes .box {
        margin-top: 0;
    }
    .section-5 .box-assurance .boxes .box {
        margin-top: 0;
    }
}

@media (max-width:870px) {
    
    footer .box-2 input{
        display: block;
    }
    footer .box-2 input:last-of-type{
        margin: 0;
        margin-top: 15px ;
    }
}
@media (max-width:768px) {}

/* sm */
@media (max-width:696px) {
    .section-4 .sect4-left{
        height: auto ;
       padding-top: 20px;
       padding-bottom: 20px;
       

    }
}

@media (max-width:640px) {
    body{
        font-size: 14px;
    }
    .nav2 a{
        font-size: 16px !important;
    }
}

@media (max-width:520px){
    .section-3{
        max-width: 90%;
    }
    .section-3 .sect3-right {
        height: auto;
    }
    .section-3 .sect3-right img{
        height: auto;
    }
   
    .section-4 .sect4-right{
        height: auto;
    }
    .section-4 .sect4-right img{
        height: auto;
    }
    .main3{
        max-width: 90% ;
        
       
    }
  
}

@media (max-width:540px) {
    footer .top {
        text-align: center;
    }

    footer .footer .middle {
         display: flex;
        flex-direction: column;
       align-items: center; 
        
    }
    footer .boxes-1{
        max-width: 100%;
       margin-bottom: 50px;
     
      
  
        
    }
    footer .boxes-2{
      max-width: 100%;
  
        
    }
}


/* xm */
@media (max-width:475px){
    .nav2 a {
        max-width: 80%;
    }
    .section-3 .sect3-left{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        
        
    }
    
}
@media (max-width:475px){
    .section-5 .box-assurance .boxes .box{
       max-width: 100%;
       margin: 0;
       
       

    }
}
@media (max-width:430px){
  
   
    .section-2 .box-service .boxes .box{
        margin: 0;
    }
    /* .section-5 .box-assurance .boxes .box{
        margin: 0;
    } */
    .section-2 .box-service .boxes .img {
        width: 100%;
       max-width: 400px;
       height: auto;
    }
    /* .section-5 .box-assurance .boxes .img {
        width: 100%;
       max-width: 400px;
       height: auto;
     
    } */
    .section-2 .box-service .boxes img {
        width: 100%;
       height: auto;
    }
    /* .section-5 .box-assurance .boxes img {
        width: 100%;
       height: auto;
    } */
    .section-3{
        max-width: 100%;
    }
    .main3{
        max-width: 100% ;
        
       
    }

}
@media (max-width:320px){
    .nav2 a {
        max-width: 80%;
    }
    .nav2 {
        max-width: 100%;
    }
}